#home {
  padding-top: 150px;
  padding-bottom: 200px;
  background-image: url("C:\Users\Clara Di Gregorio\Desktop\Careerfoundry\portfolio\src\assets\subvertivo.jpg");
  background-color: black;
  color: whitesmoke;
  background-size: cover;
}

.profile__portrait {
  padding-bottom: 20px;
  width: 325px;
  border-radius: 50%;
  margin-left: 5px;
}

.welcome {
  text-align: justify;
}
