#home {
  background-image: url("C:\Users\Clara Di Gregorio\Desktop\Careerfoundry\portfolio\src\assets\subvertivo.jpg");
  background-size: cover;
  background-color: black;
  color: whitesmoke;
}

img.profile__portrait {
  width: 325px;
  border-radius: 50%;
}

@media (max-width: 950px) {
  img.profile__portrait {
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 300px) {
  img.profile__portrait {
    display: block;
    width: 240px;
  }
}

.welcome {
  text-align: justify;
}
