.work {
  max-width: 1400px;
}

li {
  list-style: none;
}

.WorkView {
  padding: 0;
}

.grid__item {
  position: relative;
  margin-bottom: 20px;
}

/* CSS grid for work projects */

/* start grid fallback */
/*.grid__item {
  display: inline-block;
  width: 33%;
}*/
/* end grid fallback */

/*@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    position: relative;
    padding: 4px;
  }
}

.project-image {
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: filter 0.3s;
  overflow: hidden;
}

.project-image:hover {
  filter: brightness(0.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.grid__item h2 {
  position: absolute;
  transform: translate(100px, 50px);
  color: white;
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}

.grid__item:hover h2 {
  visibility: visible;
}

.grid__item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}
*/
