p.profile__about {
  text-align: justify;
}

.fa-download {
  margin-right: 4px;
}

.resume-button {
  margin-top: 20px;
}

#profile__about_1 {
  padding-right: 30px;
}

#profile__about_2 {
  padding-left: 30px;
}
