p.profile__about {
  text-align: justify;
}

.fa-download {
  margin-right: 4px;
}

.resume-button {
  margin-top: 20px;
}

#download-button {
  margin-top: 36px;
}

.profile__about {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}
