.menu-item {
  text-decoration: none;
  color: #f79669;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
  padding: 0.5em 2em;
  width: 100%;
  text-align: center;
  transition-duration: 0.3s;
}

a.brand.navbar-brand {
  color: #f79669;
}

.menu-item:hover {
  background: rgb(129, 110, 110);
  color: antiquewhite;
}

.header {
  background-color: #f79669;
}
