nav.header {
  background-color: black;
}

a.menu-item {
  font-size: 20px;
  text-decoration: none;
  color: #f79669;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
  padding: 0.5em 2em;
  width: 100%;
  text-align: center;
  transition-duration: 0.3s;
}

.menu-item:hover {
  background: rgb(129, 110, 110);
  color: antiquewhite;
}

a.brand.navbar-brand {
  color: #f79669;
  font-size: 25px;
}

a.brand.navbar-brand:hover {
  color: antiquewhite;
}

@media (max-width: 815px) {
  a.menu-item {
    font-size: medium;
  }
  a.brand.navbar-brand {
    font-size: 20px;
  }
}
