.filter-white {
  filter: invert(62%) sepia(80%) saturate(384%) hue-rotate(327deg)
    brightness(98%) contrast(98%);
}

.page-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  color: #f79669;
}

.mail-link {
  color: #f79669;
}

.mail-link:hover,
a.link.filter-white:hover {
  opacity: 0.8;
  color: #f79669;
}
