.filter-white {
  filter: invert(62%) sepia(80%) saturate(384%) hue-rotate(327deg)
    brightness(98%) contrast(98%);
}

.page-footer {
  background-color: black;
  color: #f79669;
}

.mail-link {
  margin-left: 4px;
  text-decoration: none;
  color: #f79669;
}

.mail-link:hover,
a.link.filter-white:hover {
  opacity: 0.8;
  color: #f79669;
}
