.filter-white {
  filter: invert(62%) sepia(80%) saturate(384%) hue-rotate(327deg)
    brightness(98%) contrast(98%);
}

footer.page-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("C:\Users\Clara Di Gregorio\Desktop\Careerfoundry\portfolio\src\assets\subvertivo.jpg");
  background-size: cover;
  background-color: black;
  color: #f79669;
  font-size: 1em;
}

.mail-link,
a.link {
  color: #f79669;
}

.mail-link:hover,
a.link:hover {
  opacity: 0.8;
  color: #f79669;
}

.footer-section {
  padding-top: 40px;
}
