.App {
  text-align: center;
  background-color: #f79669;
}

* {
  box-sizing: border-box; /* setting the default width of all elements to include the padding and the border */
}

h1 {
  margin-bottom: 50px;
}

p {
  font-size: 1em;
}

.page-footer {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
}

#home,
#about,
#work,
#contact {
  padding-top: 100px;
  height: max-content;
}
